<div class="container mt-5 g-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="cantidad">Ingrese Cantidad</label>
                <input type="number" id="cantidad" placeholder="cantidad..." class="form-control form-control-lg">
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-6 mt-2">
            <div class="form-group">
                <label for="tengo">Tengo</label>
                <select class="form-select form-select-lg" id="tengo" aria-label="Default select example">
                    <option value="1">USD</option>
                    <option value="2">EUR</option>
                    <option value="3">LIBRA</option>
                  </select>
                  
            </div>    
        </div>
        <div class="col-lg-6 mt-2">
            <div class="form-group">
                <label for="quiero">Quiero</label>
                <select class="form-select form-select-lg" aria-label="Default select example">
                    <option value="1">USD</option>
                    <option value="2">EUR</option>
                    <option value="3">LIBRA</option>
                  </select>
                  
            </div>    
        </div>
    </div>
</div>